*{
    font-family: 'Barlow', sans-serif;
}
.logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.header_container{
    position: relative;
}

@media screen and (max-width: 992px) {
    .iconmenu{
        position: absolute;
        top: 13px;
        right: 10px;
        font-size: 25px;
    }
    .menu_items{
        display: none;
    }
    .ul_container>li{
        width: 100%;
        text-align: center;
    }
    .logo_items{
        width: 100%;
        display: block;
    }
    .container_images {
        height: 300px;
        display: flex;
        align-items: center;
    }
}

.container_images > div > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


a{
    text-decoration: none;
}
.facebook{
    color: #395498;
}
.twitter{
    color: #5da9dd;
}
.instagram{
    color: #e1446c;
}
.linkedin{
    color: #0077b5;
}
.youtube{
    color: #fe0000;
}
.home{
    color: #166088;
}
.email{
    color: #166088;
}
.phone{
    color: #166088;
}
.container_images > div {
    height: 100%;
}

@media screen and (min-width: 993px) {
    .iconmenu{
        display: none!important;
    }
    .container_images {
        height: 450px;
        display: flex;
        align-items: center;
    }
}



i {
    cursor: pointer;
    transition: 0.3s;
}

i:hover{
    color: #ff4242!important;
}




header {
    position: sticky;
    top: 1px;
    z-index: 1000;
    border-radius: 5px;
    margin-bottom: 3px;
}

.nav > li:hover {
    color: aqua;
}

.nav > li {
    margin: 0 10px;
}


.call_me_now {
    height: 70px;
    width: 70px;
    color: aliceblue;
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:25px ;
    border-radius: 50%;
    background: #212529;
}
















/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1001; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.images_car{
    transition: 0.4s;
}
.images_car:hover{
    opacity: 0.5;
}
