<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/aboutUs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<div class="banner">
    <div style="height: 100%; padding-top: 10%">
        <div>
            <h1 class="text-center" style="color: white">About Us</h1>
            <div class="d-flex justify-content-center">
                <p class="text-center col-9 col-md-5 " style=" color: white">The company was founded/launched in 1996. We have been in business for over ten years. We started life as a construction company. Our head office is in Paris.We have offices all over Europe. We operate in 5 other cities/ 10 countries all over the world. We have subsidaries all over the country. Our company employs around two-hundred people.</p>
            </div>
        </div>
    </div>
</div>
<br>
<div class="mt-5">
<h1 class="text-center">GENERAL INFORMATION</h1></div>
<br>
<div class="d-flex justify-content-center">
    <p class="text-center col-9  col-md-8" style="color: #777777">The company was founded/launched in 1996.We have been in business for over ten years. We started life as a construction company. Our head office is in Paris.We have offices all over Europe.We operate in 5 other cities/ 10 countries all over the world. We have subsidaries all over the country. Our company employs around two-hundred people. We specialize in commercial development. We supply quality website and services. We offer customers apps that are made to meet specific requirements. We work directly with the clients. What sets us apart from our competition is that we invest enough time in training our employees to make sure they’re equipped with the right skills. We’re planning to open five more offices in the country. Our next campaign will target teenagers. Our marketing strategy will be based on creating eye-catching advertising materials.</p>
</div>
<br>
<h1 class="text-center">OUR PERFECT TEAM</h1>
<br>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-2 col-sm-6 col-xs-12">
            <div class="thumbnail"><img class=" rounded-circle img-thumbnail" src="../images/hinh (2).png"
                                        alt="Thumbnail Image 1">
                <div class="caption">
                    <h6 class="text-center text-uppercase"><span >NguyEN Xuan Hinh</span>
                        <br>
                        <span style="font-size: 15px;color: #777777">CEO / FOUNDER</span>
                    </h6>
                    <p class="text-center" style="color: #777777">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, tempore.</p>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-12">
            <div class="thumbnail"><img class=" rounded-circle img-thumbnail" src="../images/đạt.png"
                                        alt="Thumbnail Image 1">
                <div class="caption">
                    <h6 class="text-center text-uppercase"><span >Le Thanh dat</span>
                        <br>
                        <span style="font-size: 15px;color: #777777">DEVELOPER</span>
                    </h6>
                    <p class="text-center" style="color: #777777">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, tempore.</p>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-12">
            <div class="thumbnail"><img class=" rounded-circle img-thumbnail" src="../images/ngojcanh.png"
                                        alt="Thumbnail Image 1">
                <div class="caption">
                    <h6 class="text-center text-uppercase"><span >Vu hoang Ngoc Anh</span>
                        <br>
                        <span style="font-size: 15px;color: #777777">MARKETING DIRECTOR</span>
                    </h6>
                    <p class="text-center" style="color: #777777">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, tempore.</p>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-12">
            <div class="thumbnail"><img class=" rounded-circle img-thumbnail" src="../images/223294568_879298296319308_6723920966253577214_n.jpg"
                                        alt="Thumbnail Image 1">
                <div class="caption">
                    <h6 class="text-center text-uppercase"><span >Nguyen Hoang tuan</span>
                        <br>
                        <span style="font-size: 15px;color: #777777">PUBLIC RELATIONS</span>
                        </h6>
                    <p class="text-center" style="color: #777777">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, tempore.</p>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-12" >
            <div class="thumbnail"><img class=" rounded-circle img-thumbnail" src="../images/unnamed.jpg"
                                        alt="Thumbnail Image 1">
                <div class="caption">
                    <h6 class="text-center text-uppercase"><span >Nguyen manh cuong</span>
                        <br>
                        <span style="font-size: 15px;color: #777777">CUSTOMER SUPPORT</span>
                        </h6>
                    <p class="text-center" style="color: #777777">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, tempore.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>