<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="icon" type="image/png" href="../images/logo2.png"/>
    <link rel="stylesheet" href="../css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link href='//fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link type="text/css"
          href="https://patterns.bootstrapfashion.com/skin/frontend/megatron/default/css/colors/colors_default.css"
          rel="stylesheet"/>
    <!-- Global site tag (gtag.js) - Google Analytics -->

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XRLHDE5FHC"></script>

    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-XRLHDE5FHC');
    </script>


    <title>Andy Autos | Contact</title>
</head>
<body>
<div class="container">
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center header_container">
                <a href="../index.html" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none logo_items">
                    <img class="logo" src="../images/logo2.png" alt="">
                </a>
                <i class="fas fa-bars iconmenu"></i>
                <div class="text-end float-end menu_items menu_container">
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 ul_container">
                        <li><a href="../index.html" class="nav-link px-2 text-white"><strong>Andy’s Autos</strong></a></li>
                        <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
                        <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
                        <li><a href="../views/DKSD.html" class="nav-link px-2 text-white">Terms of Use</a></li>
                        <li><a href="../views/contact.html" class="nav-link px-2 text-white">Contact</a></li>
                        <li><a href="about.html" class="nav-link px-2 text-white">About</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <br><br>
    <main>
        <div class="row">
            <div class=" col-12 col-md-8" >
                <div class="p-2 fl-row fl-row-fixed-width fl-row-bg-none fl-node-5e261ed7c3a6c" data-node="5e261ed7c3a6c">
                    <div class="fl-row-content-wrap">
                        <div class="fl-row-content fl-row-fixed-width fl-node-content">

                            <div class="fl-col-group fl-node-5e261ed7c3a64" data-node="5e261ed7c3a64">
                                <div class="fl-col fl-node-5e261ed7c3a6e" data-node="5e261ed7c3a6e">
                                    <div class="fl-col-content fl-node-content">
                                        <div class="fl-module fl-module-heading fl-node-5e261ed7c3a6b" data-node="5e261ed7c3a6b">
                                            <div class="fl-module-content fl-node-content">
                                                <h1 class="fl-heading">
                                                    <span class="fl-heading-text">Who We Are</span>
                                                </h1>
                                            </div>
                                        </div>
                                        <div class="fl-module fl-module-heading fl-node-5e261f190342f" data-node="5e261f190342f">
                                            <div class="fl-module-content fl-node-content">
                                                <h3 class="fl-heading">
                                                    <span class="fl-heading-text">Our Mission</span>
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="fl-module fl-module-rich-text fl-node-5e261f287b9ae" data-node="5e261f287b9ae">
                                            <div class="fl-module-content fl-node-content">
                                                <div class="fl-rich-text">
                                                    <p><em>“The Automotive Service Association (ASA) advances professionalism and excellence in the automotive repair industry through education, representation and member services. Since 1951, the Automotive Service Association (ASA) has been the leading organization for owners and managers of automotive service businesses that strive to deliver excellence in service and repairs to consumers.”</em></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="fl-col-group fl-node-5e261f1bc3773" data-node="5e261f1bc3773">
                                <div class="fl-col fl-node-5e261f1bc3814" data-node="5e261f1bc3814">
                                    <div class="fl-col-content fl-node-content">
                                        <div class="fl-module fl-module-heading fl-node-5e261f6909d00" data-node="5e261f6909d00">
                                            <div class="fl-module-content fl-node-content">
                                                <h3 class="fl-heading">
                                                    <span class="fl-heading-text">Andy's autos</span>
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="fl-module fl-module-rich-text fl-node-5e261ed7c3a6a" data-node="5e261ed7c3a6a">
                                            <div class="fl-module-content fl-node-content">
                                                <div class="fl-rich-text">
                                                    <p><img loading="lazy" class="size-medium wp-image-56250 alignright" src="https://growthzonesitesprod.azureedge.net/wp-content/uploads/sites/1406/2020/06/ASA-Code-of-Ethics-sml-232x300.jpg" alt="" width="232" height="300" srcset="https://growthzonesitesprod.azureedge.net/wp-content/uploads/sites/1406/2020/06/ASA-Code-of-Ethics-sml-232x300.jpg 232w, https://growthzonesitesprod.azureedge.net/wp-content/uploads/sites/1406/2020/06/ASA-Code-of-Ethics-sml-791x1024.jpg 791w, https://growthzonesitesprod.azureedge.net/wp-content/uploads/sites/1406/2020/06/ASA-Code-of-Ethics-sml-768x994.jpg 768w, https://growthzonesitesprod.azureedge.net/wp-content/uploads/sites/1406/2020/06/ASA-Code-of-Ethics-sml.jpg 900w" sizes="(max-width: 232px) 100vw, 232px"></p>
                                                    <ul>
                                                        <li>To perform high-quality repair service at a fair and just price.</li>
                                                        <li>To use only proven merchandise of high quality distributed by reputable firms.</li>
                                                        <li>To employ the best skilled technicians obtainable.</li>
                                                        <li>To furnish an itemized invoice for fairly priced parts and services that clearly identifies any used or remanufactured parts. Replaced parts may be inspected upon request.</li>
                                                        <li>To have a sense of personal obligation to each customer.</li>
                                                        <li>To promote good will between the motorist and members of the association.</li>
                                                        <li>To recommend corrective and maintenance services, explaining to the customer which of these are required to correct existing problems and which are for preventive maintenance.</li>
                                                        <li>To offer the customer a price estimate for work to be performed.</li>
                                                        <li>To furnish or post copies of any warranties covering parts or services.</li>
                                                        <li>To obtain prior authorization for all work done, in writing, or by other means satisfactory to the customer.</li>
                                                        <li>To notify the customer if appointments or completion promises cannot be kept.</li>
                                                        <li>To maintain customer service records for one year or more.</li>
                                                        <li>To exercise reasonable care for the customer’s property while in our possession.</li>
                                                        <li>To maintain a system for fair settlement of customer’s complaints.</li>
                                                        <li>To cooperate with established consumer complaint mediation activities.</li>
                                                        <li>To exercise reasonable care for the customer’s property while in our possession.</li>
                                                        <li>To maintain a system for fair settlement of customer’s complaints.</li>
                                                        <li>To cooperate with established consumer complaint mediation activities.</li>
                                                        <li>To uphold the high standards of our profession and always seek to correct any and all abuses within the automotive industry.</li>
                                                        <li>To uphold the integrity of all members of the Automotive Service Association.</li>
                                                        <li>To recommend corrective and maintenance services, explaining to the customer which of these are required to correct existing problems and which are for preventive maintenance.</li>
                                                        <li>To offer the customer a price estimate for work to be performed.</li>
                                                        <li>To furnish or post copies of any warranties covering parts or services.</li>
                                                        <li>To obtain prior authorization for all work done, in writing, or by other means satisfactory to the customer.</li>
                                                        <li>To notify the customer if appointments or completion promises cannot be kept.</li>
                                                        <li>To maintain customer service records for one year or more.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="fl-col-group fl-node-5eb86723b087a" data-node="5eb86723b087a">
                                <div class="fl-col fl-node-5eb86723b096f" data-node="5eb86723b096f">
                                    <div class="fl-col-content fl-node-content">

                                        <div class="fl-module fl-module-rich-text fl-node-5eb8673f9ec7a" data-node="5eb8673f9ec7a">
                                            <div class="fl-module-content fl-node-content">
                                                <div class="fl-rich-text">
                                                    <p>ASA provides national and international leadership in automotive service and repair by identifying the qualities and standards for good business practices and quality education; these are set forth in the form of position statements, which are used to support the improvement of automotive service and repair at all levels.</p>
                                                    <p>The following ASA position statements represent the organization’s official stand on issues, as well as the membership’s response to these issues, and address a host of key issues important to the independent automotive service and repair industry.</p>
                                                    <p>If you have questions or comments about any of the following ASA position statements, please contact Tony Molla, ASA Vice President, Industry Relations,<strong> (817) 514-2900, ext. 102 or <a href="mailto:tonym@asashop.org">via email</a></strong>.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div style="height: 300px;box-shadow: #c9c9c9 1px 2px 3px" class="text-center pt-1 mb-2">
                    <img style="object-fit: cover;height: 130px;width: 130px;margin-bottom: 5px;border-radius: 15px" src="https://znews-photo.zadn.vn/w660/Uploaded/izhqv/2018_12_04/26804994_1149312745212033_1217894787695175026_n.jpg" alt="">
                    <h4>Nguyen Xuan Hjnh ( CEO 1 )</h4>
                    <p>Người đã bán công ty cho CEO 2 </p>
                    <div>
                        <i style="font-size: 30px;margin: 5px;color: #5faaff" class="fab fa-facebook-square"></i>
                        <i style="font-size: 30px;margin: 5px;color: #f8648b" class="fab fa-instagram-square"></i>
                        <i style="font-size: 30px;margin: 5px ; color: #333333" class="fab fa-github-square"></i>
                        <i style="font-size: 30px;margin: 5px;color: #ff4a4d" class="fas fa-envelope"></i>
                    </div>
                </div>
                <div style="height: 300px;box-shadow: #c9c9c9 1px 2px 3px" class="text-center pt-1 mb-2">
                    <img style="object-fit: cover;height: 130px;width: 130px;margin-bottom: 5px;border-radius: 15px" src="https://scontent.fhan2-1.fna.fbcdn.net/v/t39.30808-6/217162481_1193217151194232_1769671482109229713_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=NQus4RIu3O0AX-tFD7S&_nc_ht=scontent.fhan2-1.fna&oh=91ed39b0c93b25d8d42b9aa8becd5723&oe=611DD559" alt="">
                    <h4>Vu Hoang Ngoc Anh ( CEO 2 )</h4>
                    <p>Người đã bán công ty cho CEO 3 </p>
                    <div>
                        <i style="font-size: 30px;margin: 5px;color: #5faaff" class="fab fa-facebook-square"></i>
                        <i style="font-size: 30px;margin: 5px;color: #f8648b" class="fab fa-instagram-square"></i>
                        <i style="font-size: 30px;margin: 5px ; color: #333333" class="fab fa-github-square"></i>
                        <i style="font-size: 30px;margin: 5px;color: #ff4a4d" class="fas fa-envelope"></i>
                    </div>
                </div>
                <div style="height: 300px;box-shadow: #c9c9c9 1px 2px 3px" class="text-center pt-1 mb-2">
                    <img style="object-fit: cover;height: 130px;width: 130px;margin-bottom: 5px;border-radius: 15px" src="https://scontent.fhan2-2.fna.fbcdn.net/v/t1.6435-9/150438988_771460850436387_2100834823044039891_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=WkoLyPHlLWsAX_BtMdN&_nc_ht=scontent.fhan2-2.fna&oh=3f4d9527c38cf857765d0c4692baaac1&oe=613D96D8" alt="">
                    <h4>Nguyen Hoang Tuan ( CEO 3 )</h4>
                    <p>Người đã bán công ty cho CEO 4 </p>
                    <div>
                        <i style="font-size: 30px;margin: 5px;color: #5faaff" class="fab fa-facebook-square"></i>
                        <i style="font-size: 30px;margin: 5px;color: #f8648b" class="fab fa-instagram-square"></i>
                        <i style="font-size: 30px;margin: 5px ; color: #333333" class="fab fa-github-square"></i>
                        <i style="font-size: 30px;margin: 5px;color: #ff4a4d" class="fas fa-envelope"></i>
                    </div>
                </div>
                <div style="height: 300px;box-shadow: #c9c9c9 1px 2px 3px" class="text-center pt-1 mb-2">
                    <img style="object-fit: cover;height: 130px;width: 130px;margin-bottom: 5px;border-radius: 15px" src="https://scontent.fhan2-1.fna.fbcdn.net/v/t1.6435-9/135197356_1070143013505538_5459409757325871190_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=BEpuOb_DVUoAX8zK5dT&_nc_ht=scontent.fhan2-1.fna&oh=abf063961b248723570ef6da2cad6b91&oe=613ED743" alt="">
                    <h4>Le Thanh Dat ( CEO 4 )</h4>
                    <p>Người đã bán công ty cho CEO 5 </p>
                    <div>
                        <i style="font-size: 30px;margin: 5px;color: #5faaff" class="fab fa-facebook-square"></i>
                        <i style="font-size: 30px;margin: 5px;color: #f8648b" class="fab fa-instagram-square"></i>
                        <i style="font-size: 30px;margin: 5px ; color: #333333" class="fab fa-github-square"></i>
                        <i style="font-size: 30px;margin: 5px;color: #ff4a4d" class="fas fa-envelope"></i>
                    </div>
                </div><div style="height: 300px;box-shadow: #c9c9c9 1px 2px 3px" class="text-center pt-1 mb-2">
                <img style="object-fit: cover;height: 130px;width: 130px;margin-bottom: 5px;border-radius: 15px" src="https://www.pphfoundation.ca/wp-content/uploads/2018/05/default-avatar.png" alt="">
                <h4>Nguyen Manh Cuong ( CEO 5)</h4>
                <p>Người đã bán công ty cho CEO 1 </p>
                <div>
                    <i style="font-size: 30px;margin: 5px;color: #5faaff" class="fab fa-facebook-square"></i>
                    <i style="font-size: 30px;margin: 5px;color: #f8648b" class="fab fa-instagram-square"></i>
                    <i style="font-size: 30px;margin: 5px ; color: #333333" class="fab fa-github-square"></i>
                    <i style="font-size: 30px;margin: 5px;color: #ff4a4d" class="fas fa-envelope"></i>
                </div>
            </div>


            </div>
        </div>
    </main>
    <br><br>
    <footer class="text-center text-lg-start bg-light text-muted">
        <!-- Section: Social media -->
        <section
                class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
                <span>Get connected with us on social networks:</span>
            </div>
            <!-- Left -->

            <!-- Right -->
            <div>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-facebook-f facebook"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-twitter twitter"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-youtube youtube"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-instagram instagram"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-linkedin linkedin"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i>Andy’s Autos</h6>
                        <p>
                            <img src="https://www.google.com/maps/vt/data=lLXpeMwFMnf0qOiysrJBd4E4htx7RJmfH23InEiFFlmpmiv30EURU18Ijf9tJHD3LozzD1gTF5w7R-PXFikqnggkj7P8lsLj8BJqgj-C1jR0HAguAw5L180JoUtqd-jeSmYzkgbA5KdeJHVRgWbgf3z0cTtsc-zR83OMMu8SwIiyjSBgxYf_" height="200px">
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Products
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Mercedes</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Land Rover</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Bentley</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset"> Audi</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Lexus</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Lamborghini</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            CUSTOMERS BUY CAR
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Looking for an agent</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Sign up for a test drive</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Offers & Promotions</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Contact
                        </h6>
                        <p><i class="fas fa-home me-3 home"></i>Số 8A,Tôn Thất Thuyết,Mỹ Đình,Nam Từ Liêm,Hà Nội</p>
                        <p>
                            <i class="fas fa-envelope me-3 email"></i>
                            andyautos@gmail.com
                        </p>
                        <p><i class="fas fa-phone me-3 phone"></i>0999 999 999</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Andy’s Autos.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <a class="call_me_now" href="tel:0999999999"><i class="fas fa-phone"></i></a>
</div>

<script>
    var chatbox = document.getElementById('fb-customer-chat');
    chatbox.setAttribute("page_id", "103457602051222");
    chatbox.setAttribute("attribution", "biz_inbox");

    window.fbAsyncInit = function() {
        FB.init({
            xfbml            : true,
            version          : 'v11.0'
        });
    };

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-61177547f7ce676c"></script>
</body>
</html>
