<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">


    <link rel="icon" type="image/png" href="../images/logo2.png"/>
<!--    <link rel="icon" type="image/png" href="../images/logo2.png"/>-->



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link href='//fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link type="text/css"
          href="https://patterns.bootstrapfashion.com/skin/frontend/megatron/default/css/colors/colors_default.css"
          rel="stylesheet"/>
    <!-- Global site tag (gtag.js) - Google Analytics -->

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XRLHDE5FHC"></script>

    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-XRLHDE5FHC');
    </script>


    <title>Andy Autos | Terms of Use</title>
</head>
<body class="responsive    cms-page-view cms-terms">
<div id="outer" class="container">
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center header_container">
                <a href="/"
                   class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none logo_items">
                    <img class="logo" src="../images/logo2.png" alt="">
                </a>
                <i class="fas fa-bars iconmenu"></i>
                <div class="text-end float-end menu_items menu_container">
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 ul_container">
                        <li><a href="../index.html" class="nav-link px-2 text-white"><strong>Andy’s Autos</strong></a></li>
                        <li><a href="#" class="nav-link px-2 text-white">Product</a></li>
                        <li><a href="#" class="nav-link px-2 text-white">Accessory</a></li>
                        <li><a href="../views/DKSD.html" class="nav-link px-2 text-white">Terms of Use</a></li>
                        <li><a href="../views/contact.html" class="nav-link px-2 text-white">Contact</a></li>
                        <li><a href="#" class="nav-link px-2 text-white">About</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="row d-flex justify-content-center">
            <section class="col-sm-8 col-md-9 col-lg-9 content-center">
                <br><br>
                <h1>Terms of Use</h1>
                <br>
                <div class="std">
                    <div class="WordSection1">
                        <h3>Agreement between user</h3>
                        <p>Welcome to The Andy's Autos website (the
                            "Site") is comprised of various web pages operated by Mylinego, Inc/ Bootstrap Fashion
                            ("Bootstrap Fashion"). Andy's Autosis
                            offered to you conditioned on your acceptance without modification of the terms,
                            conditions, and notices contained herein (the "Terms"). Your use of Andy's Autos
                            constitutes
                            your agreement to all such Terms. Please read these terms carefully, and keep a copy of
                            them for your reference.</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>Andy's Autos is an E-commerce
                            Site</p>
                        <p>We provide size and fit customization of personal and commercially licensed sewing
                            patterns. We also provide standard sized PDF sewing patterns. All patterns after order
                            are emailed to the email address that you list on your account. We are not resposnible
                            if your pattern has landed in Junk or Spam folders and we recomend checking there. No
                            paper printouts will be mailed. No finished sewn goods are sold on our site. All
                            patterns are emailed in the digital downloadable format. The customized patterns can be
                            delivered in PDF, DXF, DXF-AAMA and PLT formats. We do not guarantee the final fit of
                            the sewn garment, as it is fully dependent on the individual's ability to take proper
                            measurements, choice of fabric, sewers skills and the relationship between our pattern
                            and the choice of fabrics. Each of our patterns is made for specific fabric. Choosing a
                            different fabric from what we recommend will affect the fit. In addition many fabrics
                            shrink during the sewing process. Our users are responsible to test the fit of all
                            patterns and shrinkage of the fabric before they cut the fabric. We hold no
                            responsibility for the final sewn result and user&rsquo;s choice of fabric. We do not
                            offer refunds for PDF standrad size patterns, due to the nature of the product. We offer
                            a limited guarantee for the custom-fit PDF sewing patterns.</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <h3>Privacy</h3>
                        <p>Your use of Andy's Autos is
                            subject to BootstrapFashion's Privacy Policy. Please review our Privacy Policy, which
                            also governs the Site and informs users of our data collection practices.</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <h3>Electronic Communications</h3>
                        <p>Visiting Andy's Autos or
                            sending emails to Bootstrap Fashion constitutes electronic communications. You consent
                            to receive electronic communications and you agree that all agreements, notices,
                            disclosures and other communications that we provide to you electronically, via email
                            and on the Site, satisfy any legal requirement that such communications be in writing.
                        </p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <h3>Your account</h3>
                        <p>If you use this site, you are responsible for maintaining the confidentiality of your
                            account and password and for restricting access to your computer, and you agree to
                            accept responsibility for all activities that occur under your account or password. You
                            may not assign or otherwise transfer your account to any other person or entity. You
                            acknowledge that Bootstrap Fashion is not responsible for third party access to your
                            account that results from theft or misappropriation of your account. Bootstrap Fashion
                            and its associates reserve the right to refuse or cancel service, terminate accounts, or
                            remove or edit content in our sole discretion.</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>Bootstrap Fashion does not knowingly collect, either online or offline, personal
                            information from persons under the age of thirteen. If you are under 18, you may use
                            Andy's Autos only with
                            permission of a parent or guardian.</p>
                    </div>
                    <p>&nbsp;</p>
                    <div class="WordSection2">
                        <h3>Cancellation/Refund &nbsp;Policy</h3>
                        <p>Our Satisfaction Guarantee allows store credit on patterns on
                            patterns.BootstrapFashion.com if you are not happy with the fit of your sewn pattern. We
                            do not offer refunds for PDF standrad size patterns, due to the nature of the product.
                            Please keep in mind that the final fit of the garments depends on the chosen matereals
                            and indivisual semastress sewing skills. And we do not consider that a reason for a
                            refund.
                            <br>Once the pattern has been processed for your measurements there is no refund or a
                            cancellation of the order. <br>If you have made an error and entered incorrect
                            measurements, we charge a $1.50 per each pattern to be reprocessed. If you forgot to add
                            a seam allowance to your pattern order, the reprocessing fee is $1.50 per pattern to
                            cover our costs.</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <h3>Links to third party sites/Third party services</h3>
                        <p>Andy's Autos may contain links
                            to other websites ("Linked Sites"). The Linked Sites are not under the control of
                            Bootstrap Fashion and Bootstrap Fashion is not responsible for the contents of any
                            Linked Site, including without limitation any link contained in a Linked Site, or any
                            changes or updates to a Linked Site. Bootstrap Fashion is providing these links to you
                            only as a convenience, and the inclusion of any link does not imply endorsement by
                            Bootstrap Fashion of the site or any association with its operators.</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>Certain services made available via Andy's Autos are
                            delivered by third party sites and organizations. By using any product, service or
                            functionality originating from the Andy's Autos domain,
                            you hereby acknowledge and consent that Bootstrap Fashion may share such information and
                            data with any third party with whom Bootstrap Fashion has a contractual relationship to
                            provide the requested product, service or functionality on behalf of Andy's Autos users
                            and
                            customers.</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <h3>No unlawful or prohibited use/Intellectual Property</h3>
                        <p>You are granted a non-exclusive, non-transferable, revocable license to access and use
                            Andy's Autos strictly in
                            accordance with these terms of use. As a condition of your use of the Site, you warrant
                            to Bootstrap Fashion that you will not use the Site for any purpose that is unlawful or
                            prohibited by these Terms. You may not use the Site in any manner which could damage,
                            disable, overburden, or impair the Site or interfere with any other party's use and
                            enjoyment of the Site. You may not obtain or attempt to obtain any materials or
                            information through any means not intentionally made available or provided for through
                            the Site.</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>All content included as part of the Service, such as text, graphics, logos, images, as
                            well as the compilation thereof, and any software used on the Site, is the property of
                            Bootstrap Fashion or its suppliers and protected by copyright and other laws that
                            protect intellectual property and proprietary rights. You agree to observe and abide by
                            all copyright and other proprietary notices, legends or other restrictions contained in
                            any such content and will not make any changes thereto.</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>You will not modify, publish, transmit, reverse engineer, participate in the transfer or
                            sale, create derivative works, or in any way exploit any of the content, in whole or in
                            part, found on the Site. Bootstrap Fashion content is not for resale. Your use of the
                            Site does not entitle you to make any unauthorized use of any protected content, and in
                            particular you will not delete or alter any proprietary rights or attribution notices in
                            any content. You will use protected content solely for your personal use, and will make
                            no other use of the content without the express written permission of Bootstrap Fashion
                            and the copyright owner. You agree that you do not acquire any ownership rights in any
                            protected content. We do not grant you any licenses, express or implied,&nbsp; to the
                            intellectual property of Bootstrap Fashion or our licensors except as expressly
                            authorized by these Terms.</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <h3>Use of communication services</h3>
                        <p>The Site may contain bulletin board services, chat areas, news groups, forums,
                            communities,</p>
                    </div>
                    <p>&nbsp;</p>
                    <div class="WordSection3">
                        <p>personal web pages, calendars, and/or other message or communication facilities designed
                            to enable you to communicate with the public at large or with a group (collectively,
                            "Communication Services"), you agree to use the Communication Services only to post,
                            send and receive messages and material that are proper and related to the particular
                            Communication Service.</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>By way of example, and not as a limitation, you agree that when using a Communication
                            Service, you will not: defame, abuse, harass, stalk, threaten or otherwise violate the
                            legal rights (such as rights of privacy and publicity) of others; publish, post, upload,
                            distribute or disseminate any inappropriate, profane, defamatory, infringing, obscene,
                            indecent or unlawful topic, name, material or information; upload files that contain
                            software or other material protected by intellectual&nbsp; property laws (or by rights
                            of privacy of publicity) unless you own or control the rights thereto or have received
                            all necessary consents; upload files that contain viruses, corrupted files, or any other
                            similar software or programs that may damage the operation of another's computer;
                            advertise or offer to sell or buy any goods or services for any business purpose, unless
                            such Communication Service specifically allows such messages; conduct or forward
                            surveys, contests, pyramid schemes or chain letters; download any file posted by another
                            user of a Communication Service that you know, or reasonably should know, cannot be
                            legally distributed in such manner; falsify or delete any author attributions, legal or
                            other proper notices or proprietary designations or labels of the origin or source of
                            software or other material contained in a file that is uploaded, restrict or inhibit any
                            other user from using and enjoying the Communication Services; violate any code of
                            conduct&nbsp; or other guidelines which may be applicable for any particular
                            Communication Service; harvest or otherwise collect information about others, including
                            e-mail addresses, without their consent; violate any applicable laws or regulations.</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>Bootstrap Fashion has no obligation to monitor the Communication Services. However,
                            Bootstrap Fashion reserves the right to review materials posted to a Communication
                            Service and to remove any materials in its sole discretion. Bootstrap Fashion reserves
                            the right to terminate your access to any or all of the Communication Services at any
                            time without notice for any reason whatsoever.</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>Bootstrap Fashion reserves the right at all times to disclose any information as
                            necessary to satisfy any applicable law, regulation, legal process or governmental
                            request, or to edit, refuse to post or to remove any information or materials, in whole
                            or in part, in Bootstrap Fashion's sole discretion.</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>Always use caution when giving out any personally identifying information about yourself
                            or your children in any Communication Service. Bootstrap Fashion does not control or
                            endorse the content, messages or information found in any Communication Service and,
                            therefore, Bootstrap Fashion specifically disclaims any liability with regard to the
                            Communication Services and any actions resulting from your participation in any
                            Communication Service. Managers and hosts are not authorized Bootstrap Fashion
                            spokespersons, and their views do not necessarily reflect those of Bootstrap
                            Fashion.</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>Materials uploaded to a Communication Service may be subject to posted limitations on
                            usage, reproduction and/or dissemination. You are responsible for adhering to such
                            limitations if you upload the materials.</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <h3>Materials provided to Andy's Autos or posted on any
                            Bootstrap Fashion</h3>
                    </div>
                    <p>&nbsp;</p>
                    <div class="WordSection4">
                        <p><strong>web page</strong></p>
                        <p>Bootstrap Fashion does not claim ownership of the materials you provide toAndy's Autos
                            (including
                            feedback and suggestions) or post, upload, input or submit to any Bootstrap Fashion Site
                            or our associated services (collectively "Submissions"). However, by posting, uploading,
                            inputting, providing or submitting your Submission you are granting Bootstrap Fashion,
                            our affiliated companies and necessary sublicensees permission to use your Submission in
                            connection with the operation of their Internet businesses including, without
                            limitation, the rights to: copy, distribute, transmit, publicly display, publicly
                            perform, reproduce, edit, translate and reformat your Submission; and to publish your
                            name in connection with your Submission.</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>No compensation will be paid with respect to the use of your Submission, as provided
                            herein. Bootstrap Fashion is under no obligation to post or use any Submission you may
                            provide and may remove any Submission at any time in Bootstrap Fashion's sole
                            discretion.</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>By posting, uploading, inputting, providing or submitting your Submission you warrant and
                            represent that you own or otherwise control all of the rights to your Submission as
                            described in this section including, without limitation, all the rights necessary for
                            you to provide, post, upload, input or submit the Submissions.</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <h3>Third Party Accounts</h3>
                        <p>You will be able to connect your Bootstrap Fashion account to third party accounts. By
                            connecting your Bootstrap Fashion account to your third party account, you acknowledge
                            and agree that you are consenting to the continuous release of information about you to
                            others (in accordance with your privacy settings on those third party sites). If you do
                            not want information about you to be shared in this manner, do not use this feature.</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <h3>International Users</h3>
                        <p>The Service is controlled, operated and administered by Bootstrap Fashion from our
                            offices within the USA. If you access the Service from a location outside the USA, you
                            are responsible for compliance with all local laws. You agree that you will not use the
                            Bootstrap Fashion Content accessed through Andy's Autos in
                            any country or in any manner prohibited by any applicable laws, restrictions or
                            regulations.</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <h3>Indemnification</h3>
                        <p>You agree to indemnify, defend and hold harmless Bootstrap Fashion, its officers,
                            directors, employees, agents and third parties, for any losses, costs, liabilities and
                            expenses (including reasonable attorney's fees) relating to or arising out of your use
                            of or inability to use the Site or services, any user postings made by you, your
                            violation of any terms of this Agreement or your violation of any rights of a third
                            party, or your violation of any applicable laws, rules or regulations. Bootstrap Fashion
                            reserves the right, at its own cost, to assume the exclusive defense and control of any
                            matter otherwise subject to indemnification by you, in which event you will fully
                            cooperate with Bootstrap Fashion in asserting any available defenses.</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <h3>Arbitration</h3>
                        <p>In the event the parties are not able to resolve any dispute between them arising out of
                            or</p>
                    </div>
                    <p>&nbsp;</p>
                    <div class="WordSection5">
                        <p>concerning these Terms and Conditions, or any provisions hereof, whether in contract,
                            tort, or otherwise at law or in equity for damages or any other relief, then such
                            dispute shall be resolved only by final and binding arbitration pursuant to the Federal
                            Arbitration Act, conducted by a single neutral arbitrator and administered by the
                            American Arbitration Association, or a similar arbitration service selected by the
                            parties, in a location mutually agreed upon by the parties. The arbitrators award shall
                            be final, and judgment may be entered upon it in any court having jurisdiction. In the
                            event that any legal or equitable action, proceeding or arbitration arises out of or
                            concerns these Terms and Conditions, the prevailing party shall be entitled to recover
                            its costs and reasonable attorney's fees. The parties agree to arbitrate all disputes
                            and claims in regards to these Terms and Conditions or any disputes arising as a result
                            of these Terms and Conditions, whether directly or indirectly, including Tort claims
                            that are a result of these Terms and Conditions. The parties agree that the Federal
                            Arbitration Act governs the interpretation and enforcement of this provision. The entire
                            dispute, including the scope and enforceability of this arbitration provision shall be&nbsp;
                            determined by the Arbitrator. This arbitration provision shall survive the termination
                            of these Terms and Conditions.</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <h3>Class Action Waiver</h3>
                        <p>Any arbitration under these Terms and Conditions will take place on an individual basis;
                            class arbitrations and class/representative/collective actions are not permitted. THE
                            PARTIES AGREE THAT A PARTY MAY BRING CLAIMS AGAINST THE OTHER ONLY IN EACH'S INDIVIDUAL
                            CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PUTATIVE CLASS, COLLECTIVE AND/
                            OR REPRESENTATIVE PROCEEDING, SUCH AS IN THE FORM OF A PRIVATE ATTORNEY GENERAL ACTION
                            AGAINST THE</p>
                        <p>OTHER. Further, unless both you and Employer agree otherwise, the arbitrator may not
                            consolidate more than one person's claims, and may not otherwise preside over any form
                            of a representative or class proceeding.</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <h3>Liability disclaimer</h3>
                        <p>THE INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES INCLUDED IN OR AVAILABLE THROUGH THE
                            SITE MAY INCLUDE INACCURACIES OR TYPOGRAPHICAL ERRORS. CHANGES ARE PERIODICALLY ADDED TO
                            THE INFORMATION HEREIN. MYLINEGO, INC/ BOOTSTRAP FASHION AND/OR ITS SUPPLIERS MAY MAKE
                            IMPROVEMENTS AND/OR CHANGES IN THE SITE AT ANY TIME.</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>MYLINEGO, INC/ BOOTSTRAP FASHION AND/OR ITS SUPPLIERS MAKE NO REPRESENTATIONS ABOUT THE
                            SUITABILITY, RELIABILITY, AVAILABILITY, TIMELINESS, AND ACCURACY OF THE INFORMATION,
                            SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS CONTAINED ON THE SITE FOR ANY PURPOSE.
                            TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, ALL SUCH INFORMATION, SOFTWARE,
                            PRODUCTS, SERVICES AND RELATED GRAPHICS ARE PROVIDED "AS IS" WITHOUT WARRANTY OR
                            CONDITION OF ANY KIND. MYLINEGO, INC/ BOOTSTRAP FASHION AND/OR ITS SUPPLIERS HEREBY
                            DISCLAIM ALL WARRANTIES AND CONDITIONS WITH REGARD TO THIS INFORMATION, SOFTWARE,
                            PRODUCTS, SERVICES AND RELATED GRAPHICS, INCLUDING ALL IMPLIED WARRANTIES OR CONDITIONS
                            OF</p>
                    </div>
                    <p>&nbsp;</p>
                    <div class="WordSection6">
                        <p>MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON- INFRINGEMENT.</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL MYLINEGO, INC/
                            BOOTSTRAP FASHION AND/OR ITS SUPPLIERS BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE,
                            INCIDENTAL, SPECIAL, CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER INCLUDING, WITHOUT
                            LIMITATION, DAMAGES FOR LOSS OF USE, DATA OR PROFITS, ARISING OUT OF OR IN ANY WAY
                            CONNECTED WITH THE USE OR PERFORMANCE OF THE SITE, WITH THE DELAY OR INABILITY TO USE
                            THE SITE OR RELATED SERVICES, THE PROVISION OF OR FAILURE TO PROVIDE&nbsp; SERVICES, OR
                            FOR ANY INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS OBTAINED THROUGH
                            THE SITE, OR OTHERWISE ARISING OUT OF THE USE OF THE SITE, WHETHER BASED ON CONTRACT,
                            TORT, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE, EVEN IF MYLINEGO, INC/ BOOTSTRAP
                            FASHION OR ANY OF ITS SUPPLIERS HAS BEEN ADVISED OF THE POSSIBILITY OF DAMAGES. BECAUSE
                            SOME STATES/JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR
                            CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU. IF YOU
                            ARE DISSATISFIED WITH ANY PORTION OF THE SITE, OR WITH ANY OF THESE TERMS OF USE, YOUR
                            SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING THE SITE.</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <h3>Termination/access restriction</h3>
                        <p>Bootstrap Fashion reserves the right, in its sole discretion, to terminate your access to
                            the Site and the related services or any portion thereof at any time, without notice. To
                            the maximum extent permitted by law, this agreement is governed by the laws of the State
                            of California and you hereby consent to the exclusive jurisdiction and venue of courts
                            in California in all disputes arising out of or relating to the use of the Site. Use of
                            the Site is unauthorized in any jurisdiction that does not give effect to all provisions
                            of these Terms, including, without limitation, this section.</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>You agree that no joint venture, partnership, employment, or agency relationship exists
                            between you and Bootstrap Fashion as a result of this agreement or use of the Site.
                            Bootstrap Fashion's performance of this agreement is subject to existing laws and legal
                            process, and nothing contained in this agreement is in derogation of Bootstrap Fashion's
                            right to comply with governmental, court and law enforcement requests or requirements
                            relating to your use of the Site or information provided to or gathered by Bootstrap
                            Fashion with respect to such use. If any part of this agreement is determined to be
                            invalid or unenforceable pursuant to applicable law including, but not limited to, the
                            warranty disclaimers and liability limitations set forth above, then the invalid or
                            unenforceable provision will be deemed superseded by a valid, enforceable provision that
                            most closely matches the intent of the original provision and the remainder of the
                            agreement shall continue in effect.</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>Unless otherwise specified herein, this agreement constitutes the entire agreement
                            between the user and Bootstrap Fashion with respect to the Site and it supersedes all
                            prior or contemporaneous communications and proposals, whether electronic, oral or
                            written, between the user and</p>
                    </div>
                    <p>&nbsp;</p>
                    <p>Bootstrap Fashion with respect to the Site. A printed version of this agreement and of any
                        notice given in electronic form shall be admissible in judicial or administrative
                        proceedings based upon or relating to this agreement to the same extent and subject to the
                        same conditions as other business documents and records originally generated and maintained
                        in printed form. It is the express wish to the parties that this agreement and all related
                        documents be written in English.</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <h3>Changes to Terms</h3>
                    <p>Bootstrap Fashion reserves the right, in its sole discretion, to change the Terms under which
                        Andy's Autos is offered. The most
                        current version of the Terms will supersede all previous versions. Bootstrap Fashion
                        encourages you to periodically review the Terms to stay informed of our updates.</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
            </section>
        </div>
    </main>
    <footer class="text-center text-lg-start bg-light text-muted">
        <!-- Section: Social media -->
        <section
                class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
                <span>Get connected with us on social networks:</span>
            </div>
            <!-- Left -->

            <!-- Right -->
            <div>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-facebook-f facebook"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-twitter twitter"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-youtube youtube"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-instagram instagram"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-linkedin linkedin"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i>Andy’s Autos</h6>
                        <p>
                            <img src="https://www.google.com/maps/vt/data=lLXpeMwFMnf0qOiysrJBd4E4htx7RJmfH23InEiFFlmpmiv30EURU18Ijf9tJHD3LozzD1gTF5w7R-PXFikqnggkj7P8lsLj8BJqgj-C1jR0HAguAw5L180JoUtqd-jeSmYzkgbA5KdeJHVRgWbgf3z0cTtsc-zR83OMMu8SwIiyjSBgxYf_" height="200px">
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Products
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Mercedes</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Land Rover</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Bentley</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset"> Audi</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Lexus</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Lamborghini</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            CUSTOMERS BUY CAR
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Looking for an agent</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Sign up for a test drive</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Offers & Promotions</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Contact
                        </h6>
                        <p><i class="fas fa-home me-3 home"></i>Số 8A,Tôn Thất Thuyết,Mỹ Đình,Nam Từ Liêm,Hà Nội</p>
                        <p>
                            <i class="fas fa-envelope me-3 email"></i>
                            andyautos@gmail.com
                        </p>
                        <p><i class="fas fa-phone me-3 phone"></i>0999 999 999</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Andy’s Autos.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <a class="call_me_now" href="tel:0999999999"><i class="fas fa-phone"></i></a>
</div>

<script>
    var chatbox = document.getElementById('fb-customer-chat');
    chatbox.setAttribute("page_id", "103457602051222");
    chatbox.setAttribute("attribution", "biz_inbox");

    window.fbAsyncInit = function() {
        FB.init({
            xfbml            : true,
            version          : 'v11.0'
        });
    };

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-61177547f7ce676c"></script>
</body>
</html>
